logs
tmp
.project
config/app.php
webroot/demo
tests
webroot/img/user
.svn
src/files
app
vendor

*.zip
*.7z
*.rar
*.gz
*.iso
*.tar
*.dmg
*.bak

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

Icon?
ehthumbs.db
Thumbs.db
uploadedFiles/

config/localconfig\.php

webroot/files
webroot/attachments
webroot/backgrounds

plugins/AttachmentManager/files
plugins/AttachmentManager/config/attachmentConfig\.php

files

plugins/Aziende/webroot/images

/.htaccess

scripts/deploy.sh

webroot/img/local

_scripts/.env