<div hidden >
  <div class="clone-contacts contacts-header" >
    <div class="form-group ">
        <div class="col-md-12">
          <hr style="border-color:#3c8dbc;">
          <a data-id="" type="button" class="remove-contact pull-right text-red pointer"><i class="fa fa-trash"></i> Elimina referente</a>
        </div>
    </div>
    <div class="form-group ">
        <label class="col-sm-2 control-label" >Tipologia</label>
        <div class="col-sm-4">
          <div class="input ">
              <input class="reset-id" type="hidden" value="" name="[id]" />
              <input class="reset-id" type="hidden" value="0" name="[id_order]" />
              <select name="[id_role]"  class="form-control contactsRole" style="width:100%;"></select>
          </div>
        </div>
        <label class="col-sm-2 control-label" >Nominativo</label>
        <div class="col-sm-4">
          <div class="input">
              <input type="hidden" value="" name="[name]" />
              <select name="[id_contatto]"  class="form-control" ></select>
          </div>
        </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" >Telefono</label>
      <div class="col-sm-4">
           <input type="text" placeholder="Telefono" name="[tel]" class=" form-control">
      </div>
        <label class="col-sm-2 control-label" >Email</label>
        <div class="col-sm-4">
            <input type="text" placeholder="Email" name="[email]" class=" form-control">
        </div>
    </div>
  </div>
</div>
