{{ Html.script('Progest.modal/person') |raw }}
<div class="modal fade" id="myModalPerson" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a id="toPerosnTab"  href="#tab_1" data-toggle="tab"><b>Persona</b></a></li>
                <li><a id="toFamiliariTab" href="#tab_2" data-toggle="tab" disabled="disabled"><b>Familiari e altri riferimenti</b></a></li>
                <li class="pull-right"><a class="text-muted"><button type="button" class="close close-modal-person" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                <form class="form-horizontal" id="myFormPerson">
                    <input type="hidden" name="id" value=""/>
                    <div class="box-body">
                        <div class="form-group">
                            <div class="input">
                                <label class="col-sm-2 control-label required" for="inputCognome">Cognome</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="Cognome" name="surname" id="inputCognome" class="form-control required">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input">
                                <label class="col-sm-2 control-label required" for="inputNome">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="Nome" name="name" id="inputNome" class="form-control required">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input">
                                <label class="col-sm-2 control-label " for="birthstate">Nazione di nascita</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="Nazione" name="birthstate" class=" form-control ">
                                </div>
                            </div>
                            <div class="input">
                                <label class="col-sm-2 control-label " for="birthtown">Città di nascita</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="Città" name="birthtown" class=" form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input">
                                <label class="col-sm-2 control-label " for="birthstate">Data di nascita</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" name="birthdate" class="form-control datepicker-birthdate" readonly>
                                    </div>
                                </div>
                            </div>
							<div class="input">
								<label class="col-sm-2 control-label">Deceduto/a</label>
								<div class="col-sm-4">
									<select name="deceased" class="form-control">
										<option value="no">No</option>
										<option value="si">Si</option>
									</select>
								</div>
							</div>
                        </div>
                        <div class="form-group">
							<div class="input">
								<label class="col-sm-2 control-label required" for="birthtown">Genere</label>
								<div class="col-sm-4">
									<select name="gender" class="form-control required">
										<option value="" disabled selected>Seleziona il genere</option>
										<option value="m">Maschio</option>
										<option value="f">Femmina</option>
									</select>
								</div>
							</div>
                            <div class="input">
                                <label class="col-sm-2 control-label" for="fiscalcode">Codice Fiscale</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="Codice Fiscale" name="fiscalcode" id="inputCF" class="form-control">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="inputIndirizzo">Indirizzo</label>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Indirizzo" name="extension[address]" id="inputIndirizzo" class="form-control">
                            </div>
                            <div class="input">
                              <label class="col-sm-2 control-label " for="inputProvincia">Provincia</label>
                              <div class="col-sm-2">
                                  <select type="text" placeholder="Provincia" name="extension[provincia]" id="inputProvincia" class="form-control ">
                                  </select>
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="input">
                            <label class="col-sm-2 control-label " for="inputComune">Comune</label>
                            <div class="col-sm-4">
                                <select type="text" placeholder="Comune" name="extension[comune]" id="inputComune" class="form-control ">
                                </select>
                            </div>
                          </div>
                          <div class="input">
                            <label class="col-sm-2 control-label " for="inputCap">Cap</label>
                            <div class="col-sm-4">
                                <select type="text" placeholder="Cap" name="extension[cap]" id="inputCap" class="form-control ">
                                </select>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputTelefono">Telefono</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Telefono" name="extension[tel]" id="inputTelefono" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputCell">Cellulare</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Cellulare" name="extension[cell]" id="inputCellulare" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="inputEmail">Email</label>
                            <div class="col-sm-10">
                                <input type="email" placeholder="Email" name="extension[email]" id="inputEmail" class="form-control check-email">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-modal-person" data-dismiss="modal">Chiudi</button>
                    <button type="button" class="btn btn-primary" id="salvaNuovaPersona">Salva</button>
                </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane tab-secondo-livello" id="tab_2">
                  <div class="tab-content">
                    <div class="box-body table-responsive no-padding">
                      <table class="table" id="table-familiari">
                         <thead>
                           <tr>
                             <th>Nome</th>
                             <th>Cognome</th>
                             <th>Grado di parentela</th>
                             <th>Telefono</th>
                             <th>Cellulare</th>
                             <th>Email</th>
                             <th>Azioni</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <td colspan="7">Nessun familiare o riferimento presente</td>
                           </tr>
                         </tbody>
                       </table>
                  </div>
                  <hr />
                    <div class="box box-default collapsed-box">
                      <div class="box-header with-border">
                        <h3 class="box-title" data-widget="collapse">Familiare</h3>
                        <div class="box-tools pull-right">
                          <button class="btn btn-box-tool familiari-refresh" ><i class="fa fa-refresh "></i></button>
                          <button class="btn btn-box-tool familiari-collapse" data-widget="collapse"><i class="fa fa-plus"></i></button>
                        </div><!-- /.box-tools -->
                      </div><!-- /.box-header -->
                      <div class="box-body">
                        <form class="form-horizontal" id="myFormFamiliare">
                            <input type="hidden" name="id" value=""/>
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="input">
                                        <label class="col-sm-2 control-label required" for="inputCognome">Cognome</label>
                                        <div class="col-sm-4">
                                            <input type="text" placeholder="Cognome" name="surname" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="input">
                                        <label class="col-sm-2 control-label required" for="inputNome">Nome</label>
                                        <div class="col-sm-4">
                                            <input type="text" placeholder="Nome" name="name" class="form-control required">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input">
                                        <label class="col-sm-2 control-label required" for="inputNome">Grado Parentela</label>
                                        <div class="col-sm-10">
                                            <select id="gradoParentela" name="id_grado_parentela" class="add-placeholder form-control required">
                                                <option value="" disabled selected>Seleziona il grado di parentela</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-2 control-label " for="inputIndirizzo">Indirizzo</label>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="Indirizzo" name="address" class="form-control">
                                    </div>
                                    <div class="input">
                                      <label class="col-sm-2 control-label " for="inputProvincia">Provincia</label>
                                      <div class="col-sm-2">
                                          <select type="text" placeholder="Provincia" name="provincia" class="form-control ">
                                          </select>
                                      </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                  <div class="input">
                                    <label class="col-sm-2 control-label " for="inputComune">Comune</label>
                                    <div class="col-sm-4">
                                        <select type="text" placeholder="Comune" name="comune" class="form-control ">
                                        </select>
                                    </div>
                                  </div>
                                  <div class="input">
                                    <label class="col-sm-2 control-label " for="inputCap">Cap</label>
                                    <div class="col-sm-4">
                                        <select type="text" placeholder="Cap" name="cap" class="form-control ">
                                        </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputTelefono">Telefono</label>
                                    <div class="col-sm-4">
                                        <input type="text" placeholder="Telefono" name="tel" class="form-control">
                                    </div>
                                    <label class="col-sm-2 control-label" for="inputCell">Cellulare</label>
                                    <div class="col-sm-4">
                                        <input type="text" placeholder="Cellulare" name="cell" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="inputEmail">Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" placeholder="Email" name="email" class="form-control check-email">
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                              <a id="saveFormFamiliare" class="btn btn-info pull-right">Salva</a>
                            </div>
                        </form>
                      </div><!-- /.box-body -->
                    </div><!-- /.box -->

                  </div>
                  <div class="modal-footer">

                  </div>
                </div>
                <!-- /.tab-pane -->

              </div>

              <!-- /.tab-content -->
          </div>
        </div>
    </div>
</div>
